{% extends 'layout.html' %}

{% block title %}Vehicle Records{% endblock %}

{% block content %}
<h1 class="text-center">Vehicle Records</h1>

<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<table id="vehicleTable" class="table table-bordered table-striped mt-4">
    <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>Plate Number</th>
            <th>Image</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Payment Status</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>
                {% if row[2] %}
                <img src="{{ row[2] }}" width="100">
                {% else %}
                No image
                {% endif %}
            </td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#vehicleTable').DataTable();
    });
</script>
{% endblock %}